/*---------------------------menu-------------------------------------*/

.nav {
    width: 250px;
    color: rgb(255, 255, 255);
  }
  
  .nav_link {
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
  }
  
  .nav_link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
  }
  
  .nav_link--inside:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  .list {
    width: 220px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    /* ------------------------------ */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  .list_item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .list_item--click {
    cursor: pointer;
  }
  
  .list_button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
  }
  
  .arrow .list_arrow {
    transform: rotate(90deg);
  }
  
  .list_arrow {
    margin-left: auto;
    transition: transform 0.3s;
  }
  
  .list_show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #a8a8a8;
    list-style: none;
    transition: height 0.4s;
    height: 0;
  }