@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: "Poppins", sans-serif;
}

.content {
  flex-grow: 1; 
  height: 100vh; 
  align-items: center;
}

.container {
  display: flex;
}

.title {
  display: grid;
  justify-content: center;
  margin: 20px 0 0 0;
  color: #fff;
}

.graf_content {
  align-items: center;
  background-color: #030303;
  width: 97.5%;
  height: 400px;
  margin: 20px 20px 20px 20px;
  border-radius: 16px;
}

.graf {
  display: flex;
  background-color: #020202;
  width: 97.5%;
  height: 83.5%;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
}



