
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='scripts/go.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/graf.js') }}"></script>
</head>
<body>
    <div id="myDiagramDiv" style="width: 1060px; height: 100%; background: rgb(255, 255, 255)"></div>
            <textarea id="mySavedModel" hidden>
            { "class": "go.GraphLinksModel",
            "nodeKeyProperty": "id",
            "nodeDataArray": [
            {"id":-2, "loc":"-190 90", "category":"op"},
            {"id":-1, "loc":"-50 100", "category":"Start"},
            {"id":0, "loc":"100 50", "text":"q1","category":"accept"},
            {"id":1, "loc":"150 150", "text":"q2"},
            {"id":2, "loc":"220 50", "text":"q3", "category":"accept"},
            {"id":3, "loc":"300 150", "text":"q4"},
            {"id":4, "loc":"350 50", "text":"q5", "category":"accept"},
            {"id":5, "loc":"450 150", "text":"q6"},
            {"id":6, "loc":"500 50", "text":"q7", "category":"accept"},
            {"id":7, "loc":"590 150", "text":"q8"},
            {"id":8, "loc":"650 50", "text":"q9", "category":"accept"},
            {"id":9, "loc":"720 150", "text":"q10"}
            ],
            "linkDataArray": [
            { "from": -2, "to": -1, "text": "-" },
              { "from": -1, "to": 0, "text": "b" },
              { "from": 0, "to": 1,  "progress": "true", "text": "a" },
              { "from": 0, "to": 2,  "progress": "true", "text": "b" },
              { "from": 2, "to": 3,  "progress": "true", "text": "a" },
              { "from": 2, "to": 4,  "progress": "true", "text": "b" },
              { "from": 1, "to": 2,  "progress": "true", "text": "a" },
              { "from": 3, "to": 4,  "progress": "true", "text": "a" },
              { "from": 4, "to": 5,  "progress": "true", "text": "a" },
              { "from": 4, "to": 6,  "progress": "true", "text": "b" },
              { "from": 5, "to": 6,  "progress": "true", "text": "a" },
              { "from": 6, "to": 8,  "progress": "true", "text": "b" },
              { "from": 6, "to": 7,  "progress": "true", "text": "a" },
              { "from": 7, "to": 8,  "progress": "true", "text": "a" },
              { "from": 8, "to": 9,  "progress": "true", "text": "b" },
              { "from": 8, "to": 9,  "progress": "true", "text": "a" }
            ]
          }
            </textarea>
        </div>
</body>
</html>
    