<!DOCTYPE html>
<html lang="en" data-language="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automata</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/stile.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/menu.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/velocity.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/input.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/graphql-logo-24.ico') }}"
    />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <ul class="list">
          
          <li class="list_item ">
            <div class="list_button ">
              <p
                href="#"
                class="nav_link"
                style="color: white"
                >b(aa U b)^4</p
              >
            </div>
          </li>

          <li class="list_item list_item--click">
            <div class="list_button list_button--click">
              <img
                src="{{ url_for('static', filename='assets/bx-history.svg') }}"
                class="list_img"
                style="filter: invert(100%)"
              />
              <a
                href="#"
                class="nav_link"
                style="color: white"
                data-translate="historial"
                >Historial</a
              >
              <img
                src="{{ url_for('static', filename='assets/bxs-right-arrow.svg') }}"
                class="list_arrow"
                style="filter: invert(100%)"
              />
            </div>
            <div class="historial list_show list_inside">
              <ul
                id="word-list"
                style="
                  color: #00ff00;
                  list-style-type: none;
                  margin-left: 20px;
                  padding: 0;
                  text-align: left;
                "
              >
                <!-- Los elementos de la lista se agregarán aquí -->
              </ul>
            </div>
          </li>

          <li class="list_item list_item--click">
            <div class="list_button list_button--click">
              <img
                src="{{ url_for('static', filename='assets/bxs-pencil.svg') }}"
                class="list_img"
                style="filter: invert(100%)"
              />
              <a
                href="#"
                class="nav_link"
                style="color: white"
                data-translate="idiomas"
                >Idiomas</a
              >
              <img
                src="{{ url_for('static', filename='assets/bxs-right-arrow.svg') }}"
                class="list_arrow"
                style="filter: invert(100%)"
              />
            </div>

            <ul class="list_show">
              <li class="list_inside">
                <a
                  href="#"
                  class="nav_link nav_link--inside"
                  style="color: white"
                  id="flags"
                  data-translate="espanol"
                  >Español</a
                >
              </li>

              <li class="list_inside">
                <a
                  href="#"
                  class="nav_link nav_link--inside"
                  style="color: white"
                  id="flags"
                  data-translate="ingles"
                  >Ingles</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="content">
        <div class="title">
          <a href="https://drive.google.com/file/d/1qm3zBdmIJjnBUVEI1nZ7kPrke4Lm-57G/view?usp=sharing" 
          target="_blank" class="supertitulo"><h2>Automata Finito</h2></a>
        </div>

        <div class="graf_content">
          <div class="velocity">
            <div class="range">
              <div class="sliderValue">
                <span>5</span>
              </div>
              <div class="field">
                <div class="value left">0.25</div>
                <input type="range" min="1" max="5" value="3" steps="1" />
                <div class="value right">2.0</div>
              </div>
            </div>
          </div>

          <div class="graf">{% include 'graf.html' %}</div>

          <form class="in">
            <div class="input-field">
              <input type="text" id="input-word" required />
              <label data-translate="palabra">Palabra</label>
            </div>
            <div class="buttondiv" >
              <button onclick="check()" type="submit" id="add-word-button" class="button" >
                <img
                  src="{{ url_for('static', filename='assets/bx-send.svg') }}"
                  class="send-word"
                />
              </button>
            </div>
          </form>
        </div>

        <script src="{{ url_for('static', filename='scripts/translations.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/acrtions.js') }}"></script>
        <script>
          
        </script>
      </div>
    </div>
  </body>
</html>
