<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stile.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/velocity.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/input.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='assets/graphql-logo-24.ico') }}" />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <ul class="list">
          <li class="list_item">
            <div class="list_button">
              <img src="{{ url_for('static', filename='assets/bx-history.svg') }}" class="list_img" style="filter: invert(100%);"/>
              <a href="#" class="nav_link" style="color: white;">Historial</a>
            </div>
          </li>

          <li class="list_item list_item--click">
            <div class="list_button list_button--click">
              <img src="{{ url_for('static', filename='assets/bxs-pencil.svg') }}" class="list_img" style="filter: invert(100%);"/>
              <a href="#" class="nav_link" style="color: white;">Idiomas</a>
              <img src="{{ url_for('static', filename='assets/bxs-right-arrow.svg') }}" class="list_arrow" style="filter: invert(100%);" />
            </div>

            <ul class="list_show">
              <li class="list_inside">
                <a href="#" class="nav_link nav_link--inside" style="color: white;">Español</a>
              </li>

              <li class="list_inside">
                <a href="#" class="nav_link nav_link--inside"style="color: white;"">Ingles</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="content">
        <div class="title">
          <h1>Automata Finito</h1>
        </div>

        <div class="graf_content">
          <div class="velocity">
            <div class="range">
              <div class="sliderValue">
                <span>100</span>
              </div>
              <div class="field">
                <div class="value left">10</div>
                <input type="range" min="10" max="100" value="50" steps="1" />
                <div class="value right">100</div>
              </div>
            </div>
          </div>

          <div class="graf">
            {% include 'graf.html' %}
          </div>

          <div class="in">
            <div class="input-field">
              <input type="text" required />
              <label>Palabra</label>
            </div>
            <div class="buttondiv">
              <button type="button" class="button"><img src="{{ url_for('static', filename='assets/bx-send.svg') }}" class="send-word"></button>
            </div>
          </div>

        </div>

        

        <script src="{{ url_for('static', filename='scripts/acrtions.js') }}"></script>
      </div>
    </div>
  </body>
</html>
